.container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  flex: $fill-base;
  max-width: $container-base;
  padding: $space-base;
  margin: 0 auto;


  &.dashboard__container {
    margin: 0;
    padding: 0;
    background: $canvas-base;
  }
}
