// Core Layout Styles

*::-webkit-scrollbar {
  width: $space-split;
}

*::-webkit-scrollbar-track {
  background: $dove;
}

*::-webkit-scrollbar-thumb {
  background: $loblolly;
}

*::selection {
  background: $loblolly;
  text-shadow: none;
}

.layout {
  min-height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;

  .header,
  .main,
  .view,
  .footer {
    flex-flow: row wrap;
  }

  .header,
  .view,
  .footer, {
    width: 100%;
    flex: $fill-base;
  }

  .header {
    z-index: 4;
    align-self: flex-start;
  }

  .sidebar {
    z-index: 3;
    align-self: stretch;
  }

  .main {
    flex: 1;
    z-index: 2;
  }

  .view {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }

  .wrapper {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    background: $canvas-base;
  }

  .container {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex: $fill-base;

    > * {
      flex: $fill-base;
    }
  }

  .frame {
    flex: 1;
    display: flex;
  }

  .footer {
    z-index: 1;
    align-self: flex-end;
  }

  &.dashboard__layout {

    > .container {
      min-height: 100vh;
      flex-direction: column;
    }
  }
}
