// Core Layout Styles
.layout__wrapper {
  position: relative;
  display: flex;
	min-height: 100vh;
  flex-direction: column;

  .header {
    z-index: 4;
  }

  .sidebar {
    z-index: 3;
  }

  .main {
    flex: 1;
    z-index: 2;
  }

  .footer {
    z-index: 1;
  }

  > .container {
    display: flex;
    width: 100%;
    max-width: none;
	  min-height: 100vh;
    flex-direction: column;
  }
}
