// Normalize Styles
*,
*:before,
*:after {
  outline: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

[data-whatintent="mouse"] *:focus {
  outline: none;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
}

header {
  clear: both;
}

del {
  text-decoration: line-through;
}

audio,
canvas,
iframe,
img,
svg,
video {
  border: 0;
  vertical-align: bottom;
}

button {
  cursor: pointer;
  appearance: none;
  outline: none;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0 auto;
  padding: $space-press;
  background: $serve-warn;
  color: $void;
}
