// Core Typography Styles

html {
  font-size: 16px;
  text-rendering: optimizelegibility;
  image-rendering: optimizequality;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, p, li, td, span {
  text-rendering: unset;
  font-feature-settings: unset;
  font-family: $font-base;
  font-size: $size-base;
  font-weight: $weight-base;
  line-height: $height-base;
  color: $bond-base;
}

// Ruler

hr {
  display: block;
  outline: none;
  padding: 0;
  border: 0;
  border-top: $border-base $ground-apex;
  height: $space-dash;
  margin: $gutter-fluid;
}

// Heading

h1, h2, h3,
h4, h5, h6,
thead, th {
  position: relative;
  flex: $fill-base;
  margin: $gutter-base;
  color: $bond-accent;
  font-family: $font-apex;
  font-weight: $weight-heavy;
  line-height: $height-apex;

  small {
    display: block;
    font-size: 50%;
    font-weight: $weight-base;
    line-height: $height-core;
    margin-top: $space-press;
  }
}

h1 {
  font-size: $size-legend;
}

h2 {
  font-size: $size-lead;
}

h3 {
  font-size: $size-direct;
}

h4 {
  font-size: $size-brief;
}

h5 {
  font-size: $size-point;
}

h6 {
  font-size: $size-mark;
}

// Context

p, figure {
  flex: $fill-base;
  margin: $gutter-base;
}

b, strong, figcaption {
  margin: 0;
  font-weight: $weight-core;
}

blockquote {
  font-style: italic;
  font-weight: $weight-core;
  margin: $gutter-spread;
}

sup, sub {
  font-weight: $weight-heavy;
}

pre, code {
  font-family: $font-code;
  font-weight: $weight-heavy;
}

.context {
  margin-bottom: $space-base;

  &.context--legal {
    font-size: $size-legal;
  }
}

// Link

a {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  flex: $fill-base;
  color: $brand-base;
  transition: $shift-base;

  &:hover,
  &:focus {
    color: $brand-accent;
  }

  &:active {
    color: $brand-deepen;
  }

  &:visited {
    text-decoration: underline;
    color: $brand-apex;
  }
}

// List

ol, ul {
  margin: $gutter-chain;
  padding-left: $space-frame;
  font-weight: $weight-core;
}

li {
  margin-bottom: $space-split;
}

.list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

// Media

img,
video {
  width: 100%;
  margin: 0 auto;
}

.media {
  margin: 0;
  width: 100%;
}

.icon {
  transition: $shift-base;
}
