/**
 * Theme Structure - to configure constant variables and mixins used for design structure
 */

// Frame - variables for different size frames
$frame-bar: 10em;
$frame-stamp: 12em;
$frame-label: 16em;
$frame-box: 20em;
$frame-card: 24em;
$frame-net: 36em;
$frame-multi: 60em;

// Container - variables for responsive container sizes
$container-base: 48em; // 768px
$container-tablet: 50; // 800px
$container-laptop: 54; // 864px

// Media - variables for media device queries
$phone: 20em; // 320px
$phablet: 30em; // 480px
$tablet: 48em; // 768px
$laptop: 62em; // 992px
$desktop: 75em; // 1200px
$widescreen: 90em; // 1440px
$ultrawide: 100em; // 1600px
$retina: 150em; // 2400px
